.new_user {
  position: fixed;
  top: 40%;
  left: 30%;
  width: 40vw;
  border: 0.2em solid rgba($color: #000000, $alpha: 0.7);
  box-shadow: -6px 10px 0px rgba($color: #ffffff, $alpha: 1),
    6px 10px 0px rgba($color: #ffffff, $alpha: 1);
  height: auto;
  background-color: rgb(201, 201, 201);
  display: grid;

  p {
    width: auto;
    height: auto;
    font-size: 2em;
    justify-self: center;
  }

  .label {
    // border: 1px solid black;
    width: 50%;
    justify-self: center;
  }

  .field {
    justify-self: center;
    width: 50%;
    margin-bottom: 1em;
  }
}
